.newTaskForm {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    background-color: rgba(var(--color-2), 0.1);
    border-radius: 1em;
    padding: 1em;
    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: calc(90%/5);
        p {
            padding: 0;
            margin: 0;
            margin-left: 0.5em;
            font-size: 0.9em;
        }
        select {
            width: 100%;
        }
        input[type='range'] {
            width: 90%;
            margin-top: 0.5em;
        }
    }
    .formButton {
        border-radius: 10em;
        height: 4em;
        width: 4em;
        transition: all 150ms ease-in-out;
        &:hover, &:active {
            cursor: pointer;
            scale: 1.1;
        }
        &:focus {
            scale: 0.9;
        }
    }
    .submitButton {
        color: rgb(var(--green-light));
        border: solid 2px rgb(var(--green-light));
        background-color: rgb(var(--green-dark));
        &:hover, &:active{
            color: rgb(var(--green-dark));
            border: solid 2px rgb(var(--green-dark));
            background-color: rgb(var(--green-light));
        }
        &:disabled {
            cursor: not-allowed;
            scale: 1;
            color: rgb(var(--green-light));
            border: solid 2px rgb(var(--green-light));
            background-color: rgb(var(--green-dark));
            opacity: 0.7;
        }
    }
    .cancelButton {
        color: rgb(222, 149, 149);
        border: solid 2px rgb(222, 149, 149);
        background-color: rgb(203, 70, 70);
        &:hover, &:active {
            color: rgb(203, 70, 70);
            border: solid 2px rgb(203, 70, 70);
            background-color: rgb(222, 149, 149);
        }
    }
}