
.dryGoodsLive {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgb(var(--color-1));
    color: rgb(var(--color-2));
    height: 85vh;
    .abandonedPopup {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);
        .abandonedContainer {
            display: flex;
            flex-direction: column;
            padding: 1em;
            background-color: rgb(var(--color-1));
            border-radius: 0.5em;
        }
    }
    .tasksContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        // border: solid 1px rgba(var(--color-2), 0.1);
        background-color: rgba(var(--color-2), 0.1);
        padding: 0.5em;
        width: 100%;
        border-radius: 1em;
        box-shadow: 1px 1px 3px rgb(0,0,0,0.3);
        .noTasks {
            width: 100%;
            text-align: center;
            opacity: 0.3;
            margin: 2em;
        }
        .row, .titleRow {
            display: flex;
            max-width: 100%;
            background-color: rgba(var(--color-2), 0.1);
            border-radius: 0.8em;
            border: solid 1px rgba(var(--color-2), 0.2);
            &:nth-child(even) {
                background-color: rgba(var(--color-2), 0.2);
            }
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow-x: scroll;
                width: calc(90%/6);
                margin: 0;
                padding: 1em;
                &.status {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                    border-radius: 0.5em;
                    .icon {
                        color: rgba(var(--color-1), 0.6);
                    }
                    .text {
                        font-size: 0.6em;
                        color: rgba(var(--color-1), 0.6);
                    }
                    &.inProgress {
                        // background-color: rgb(218, 213, 58);
                        background-color: rgb(169, 169, 169);
                    }
                    &.finished {
                        background-color: rgb(var(--green-dark));
                    }
                    &.abandoned {
                        background-color: rgb(var(--red-dark));
                    }
                }
                &.endTime {
                    border-right: none;
                }
                .button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 4em;
                    width: 4em;
                    border-radius: 10em;
                    margin: 0 0.5em;
                    border: none;
                    transition: all 150ms ease-in-out;
                    p {
                        font-size: 0.7em;
                    }
                    &:hover, &:focus {
                        cursor: pointer;
                        scale: 0.9;
                    }
                    &.finishButton {
                        background-color: rgb(var(--green-dark));
                        outline: solid 4px rgb(var(--green-light));
                        color: rgb(var(--green-light));
                    }
                    &.abandonButton {
                        background-color: rgb(var(--red-dark));
                        outline: solid 4px rgb(var(--red-light));
                        color: rgb(var(--red-light));
                    }
                    &.continueButton {
                        background-color: rgb(var(--orange-dark));
                        outline: solid 4px rgb(var(--orange-light));
                        color: rgb(var(--orange-light));
                    }
                }
            }
        }
        .titleRow {
            background-color: rgb(242, 227, 97);
            .item {
                font-weight: 600;
            }
        }
    }
    .newTaskContainer {
        .title {
            margin-left: 0.5em;
            opacity: 0.5;
        }
        .newClassButton {
            padding: 1em 2em;
            border-radius: 10em;
            color: rgb(var(--green-light));
            border: solid 5px rgb(var(--green-light));
            background-color: rgb(var(--green-dark));
            font-size: 1em;
            font-weight: 700;
            transition: all 200ms ease-in-out;
            &:hover {
                cursor: pointer;
                scale: 0.95;
            }
        }
    }
}