
.dryGoodsLive {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgb(var(--color-1));
    color: rgb(var(--color-2));
    height: 85vh;
    .abandonedPopup {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);
        .abandonedContainer {
            display: flex;
            flex-direction: column;
            padding: 1em;
            background-color: rgb(var(--color-1));
            border-radius: 0.5em;
        }
    }
    .tasksContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border: solid 1px rgba(var(--color-2), 0.1);
        background-color: rgba(var(--color-2), 0.1);
        padding: 0.5em;
        width: 100%;
        // overflow: hidden;
        border-radius: 0.6em;
        .row, .titleRow {
            display: flex;
            max-width: 100%;
            background-color: rgba(var(--color-2), 0.1);
            border-radius: 0.5em;
            // padding: 1em;
            border: solid 1px rgba(var(--color-2), 0.2);
            &:nth-child(even) {
                background-color: rgba(var(--color-2), 0.2);
            }
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow-x: scroll;
                width: calc(90%/6);
                margin: 0;
                padding: 1em;
                // border-right: solid 1px rgba(var(--color-2), 0.2);
                &.status {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                    border-radius: 0.5em;
                    .icon {
                        color: rgba(var(--color-1), 0.6);
                    }
                    .text {
                        font-size: 0.6em;
                        color: rgba(var(--color-1), 0.6);
                    }
                    &.inProgress {
                        // background-color: rgb(218, 213, 58);
                        background-color: rgb(169, 169, 169);
                    }
                    &.finished {
                        background-color: rgb(47, 163, 43);
                    }
                    &.abandoned {
                        background-color: rgb(163, 43, 43);
                    }
                }
                &.endTime {
                    border-right: none;
                }
            }
        }
        .titleRow {
            background-color: rgb(242, 227, 97);
            .item {
                font-weight: 600;
            }
        }
    }
    .newTaskContainer {
        .newClassButton {
            padding: 1em;
            border-radius: 0.7em;
            border: solid 1px rgba(var(--color-2), 0.1);
            background-color: rgb(47, 163, 43);
            font-size: 1em;
            font-weight: 500;
            box-shadow: inset 0px 0px 3px rgba(255,255,255);
            transition: all 200ms ease-in-out;
            &:hover {
                cursor: pointer;
            }
        }
        .newTaskForm {
            display: flex;
            gap: 1em;
            background-color: rgba(var(--color-2), 0.1);
            border-radius: 1em;
            padding: 1em;
            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: calc(100%/5);
                p {
                    padding: 0;
                    margin: 0;
                }
                select {
                    min-width: 5em;
                }
                input[type='range'] {
                    width: 90%;
                }
            }
        }
    }
}